asgiref
beautifulsoup4
black
bs4
click
colorama
Django
django-nose
factory-boy
Faker
isort
marshmallow
mypy-extensions
nose
parameterized
pathspec
pinocchio
platformdirs
psycopg2
python-dateutil
six
soupsieve
SQLAlchemy
sqlparse
text-unidecode
tomli
typing-extensions
